header { overflow: hidden;
    padding-top: 25px;

}

#container {
    margin: 0px auto;
    width: 80%;
    max-width: 100%;
}
#logo {
    float: left;
    display: inline-block;
    margin-top: 30px;


}
#logo img{
    padding-bottom: 30px;
    margin-bottom: -40px;
}


#icons {
    float : right;
    margin: 1px;
    padding-top: 50px;
    margin-top: -15px;
}
#icons img {
    display: inline-block;
    margin-right: -2px;

}
#icons #rss {
    padding-left: 8px;
}
/* #pintrest{
    margin-right: 12px;
} */

main{
    overflow: hidden;
    margin-top: 60px;
}
/* header #logo  {

    padding-bottom: 20px;
} */

#bar {
 background-image: url(/img/hr-img.png);
 background-repeat: repeat;
 width: 100%;
 height: 20px;
 margin-top:130px ;

}

/* #img img {
height: 40px;
padding-bottom: 0px;
} */
.logoImg {
    display: inline-block;
    display: left;

}
#logo .logoImg h2 {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: 'Yellowtail' ;
    margin-left: 3px;
    font-weight: 400;
    
}
#logo .logoImg p {
   text-transform: uppercase;
    position: absolute;
    margin-left: 3px;
    font-size: 11.5px;
    color: grey;
    font-family:  'Abel';
    padding-top: 45px;
}
#topMain {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    /* margin-top: -30px; */
    padding-top: -40px;
}


#topMain span { 
    font-family: 'Anton';
    font-size: 50px;
    margin-bottom: 50px;
    padding-bottom:40px ;
    /* margin-bottom:  20px; */
}

#topMain #date {
    margin-top: 10px;
    font-family: 'Abel' ;
    color: grey;
    font-size: 18px;
}

#topMain .print {
    float: right;
    color: grey;
    font-family:'Abel' ;
    margin-top: -50px;
    font-size: 16px;
}

#topMain #print {
    float: right;
    margin-top: -48px;
    margin-right:38px ;
    width: 14px;

}

#pizza {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
 main p {
    text-indent: 25px;
    font-size: 25px;
    color: grey;
 }

 #forms {
     background-image: url(/img/list-bg.png) ;
     width: 100%;
     font-family: 'Patrick Hand';
     display: block;
     overflow: hidden;
     padding: 40px 80px 40px ;
     height: 350px;
     margin-top: 20px;
     font-weight: 400;
     background-repeat: no-repeat;
     background-size: 100% 80%;
     font-size: 15px;
 }

#forms #recipe{
float: left;
font-size: 25px;
padding-top: 8px;
color: rgb(107, 100, 100);
padding-bottom: 30px;


 }

#forms  #list2 {
    float: right;
    margin-right: 250px;
    font-size: 25px;
    padding-top: 8px;
    color: rgb(107, 100, 100);
    padding-bottom: 20px;

}

#forms  #list2 .chopped {
    padding-left:25px ;
}

#forms  #list2 .sugar,.egg {
    text-decoration: line-through rgb(110, 105, 105) ;
}

#bar2 {
    background-image: url(/img/hr-img.png);
 background-repeat: repeat;
 width: 100%;
 height: 20px;
 margin-top:-40px ;

}
section .section {
    display: inline-block;
    overflow: hidden;
}

section .section img,h1,h4 {
    float: left;
}

section .section img {
    margin-top: 20px;
}

section .section h1 {
    margin: 22px 0px 0px 10px ;
    color:  rgb(37, 35, 35);
    font-size: 20px;
    font-weight: 800;
}

section .section h4 {
    margin: -32px 400px 0px 80px ;
    font-size: 20px;
    font-weight: 500;
    color:  rgb(82, 78, 78);;
}


section .section #button {
    float: right;
    background-color: rgb(165, 89, 89);
    margin-top: -70px;
    padding: 20px 32px;
    border: none;
    color: white;
    font-size: 18px;
}

footer {
    margin-top: 90px;
}
footer #hrFooter {
    z-index: -1;
    margin-top: 20px;
    color: rgb(221, 218, 218);
}

#footer {
    margin: auto auto;
    display: block;
    margin-top: -25px;
    width: 30px;
    height: 35px;

}

#pFooter{
    text-align: center;
    color: gray;
    font-size: 12px;
    padding-top: 20px;

}
